name: Build & Release Rust Project

on:
    workflow_dispatch:

jobs:
    build:
        uses: ./.github/workflows/build.yml

    release:
        runs-on: ubuntu-latest
        needs: build
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Read version
              id: get_version
              run: |
                  VERSION=$(cat version.txt | tr -d " \n\r")
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Download build artifacts
              uses: actions/download-artifact@v7
              with:
                  pattern: release-artifacts-*
                  path: dist
                  merge-multiple: true

            - name: Create GitHub Release
              id: create_release
              uses: ncipollo/release-action@v1
              with:
                  tag: ${{ steps.get_version.outputs.version }}
                  name: ${{ steps.get_version.outputs.version }}
                  bodyFile: release.md
                  commit: ${{ github.sha }}
                  draft: true
                  prerelease: false
                  artifacts: "dist/*"
